/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 /* # HEADER */
.logo-image{
 vertical-align: middle;
 width: 50px;
}
 .logo-text{
  display: inline;
  font-size: 50px;
 }
 .botton{
display: inline;
margin-top: 50ch;
 }
 .botton-add-task{
display: inline;
margin-left: 57ch;
background-color: rgb(55, 191, 237);
border-radius: 5px;
 }
 .botton-add-section{
display: inline;
color: rgba(128, 128, 128, 0.918);
border-radius: 5px;
background-color: white;
 }
 .list{
  margin-left: 54ch;
  margin-top: 3ch;
 }
.new-task-list{
margin-bottom: 2ch;
}
.today-list{
 margin-bottom: 2ch;
}
.upcoming-list{
  margin-bottom: 2ch;
}
li {list-style: none;
}
ul {list-style-type: none;
}
.check-green{
color: green;
}
.button-goal{
  background-color: #8f00ff;
}

 .button-recruiting{
  background-color:#21ff61;
 }
 .button-mobile{
  background-color: chocolate;
 }